.light {
  --header: white;
  --searchButtonBorder: #5f6368;
  --searchoptions: #70757e;
  --searchresult: #70757e;
  --title: #7a72ce;
  --p: #141d26;
}

.dark {
  --header: #141d26;
  --searchButtonBorder: #fbfeff;
  --searchoptions: #fff;
  --searchresult: #f8f8f8;
  --title: #88b1f4;
  --p: white;
}

.searchPage__header {
  display: flex;
  position: sticky;
  top: 0;
  background-color: var(--header);
  z-index: 100;
  align-items: flex-start;
  padding: 20px 0 10px 0;
  border-bottom: 1px solid var(--searchButtonBorder);
}

.searchPage__logo {
  object-fit: contain;
  height: 50px;
  margin-right: 50px;
}

.searchPage__headerBody > .search > .search__input {
  margin-top: 0;
  width: unset;
  margin: unset;
  max-width: unset;
}

.searchPage__options {
  display: flex;
  align-items: center;
  color: var(--searchoptions);
}

.searchPage__optionsRight,
.searchPage__optionsLeft {
  display: flex;
}
.searchPage__options a,
.searchPage__optionsRight a {
  text-decoration: none;
  color: var(--searchoptions);
}

.searchPage__optionsRight {
  margin-left: 80px;
}

.searchPage__option {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.searchPage__option a {
  margin-left: 5px;
}

.searchPage__result {
  margin: 40px 0;
}

.searchPage__resultCount {
  color: var(--searchresult);
  font-size: 14px;
}

.searchPage__results {
  min-width: 650px;
  margin-top: 20px;
  margin-left: 240px;
  margin-bottom: 100px;
}

.searchPage__resultTitle {
  text-decoration: none;
}

.searchPage__resultTitle:hover {
  text-decoration: underline;
}

.searchPage__resultTitle > h2 {
  font-weight: 500;
  color: var(--title);
}

p {
  color: var(--p);
}
.searchPage__resultSnippet {
  margin-top: 10px;
}

.searchPage__resultImage {
  object-fit: contain;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  vertical-align: middle;
  line-height: 2;
  margin-right: 20px;
}
