.light {
  --searchIcon: gray;
  --input: lightgray;
  --searchButtonbg: #f8f8f8;
  --searchButtonBorder: white;
  --color: #5f6368;
  --searchButtonhover: rgba(0, 0, 0, 0.1);
  --buttonImage: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  --buttoncolor: #222;
  --buttonborder: #c6c6c6;
  --outputpage: #000;
  --input1: white;
}
.dark {
  --searchIcon: #ffffff;
  --input: #313335;
  --searchButtonbg: #243447;
  --searchButtonBorder: #243447;
  --color: #fbfeff;
  --searchButtonhover: #00c8ff1a;
  --buttonImage: -webkit-linear-gradient(bottom, #141d261a, #2434471a);
  --buttoncolor: rgb(0, 255, 234);
  --buttonborder: #000000;
  --outputpage: #fff;
  --input1: #141d26;
}

.search__input {
  display: flex;
  align-items: center;
  border: 1px solid var(--input);
  height: 30px;
  padding: 10px 20px;
  border-radius: 999px;
  width: 75vw;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 560px;
}

.search__input > input {
  flex: 1;
  padding: 10px 20px;
  font-size: medium;
  border: none;
}

.search__input > input:focus {
  outline-style: dashed;
  outline-width: 0;
}

.search__inputIcon {
  color: var(--searchIcon);
}
.search__inputMic {
  object-fit: contain;
  height: 24px;
  width: 24px;
}
.search__inputCamera {
  object-fit: contain;
  height: 24px;
  width: 24px;
  margin-left: 10px;
}

.search__buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

/* .search__buttons > .MuiButtonBase-root,
.MuiButton-outlined {
  color: gray;
  border-color: gray;
} */

.search__buttons button {
  margin: 5px;
  padding: 7px 15px;
  background-color: var(--searchButtonbg);
  border: 1px solid var(--buttonborder);
  text-transform: inherit;
  color: var(--color);
}

.search__buttons button:hover {
  box-shadow: 0 1px 1px var(--searchButtonhover);
  background-image: var(--buttonImage);
  background-color: var(--searchButtonbg);
  border: 1px solid var(--buttonborder);
  color: var(--buttoncolor);
}

.search__buttonsHidden {
  display: none !important;
}

.search__outputPages {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--outputpage);
}

.search__outputPages a {
  text-decoration: inherit;
  padding: 0 3px;
}

.search__outputPages a:hover {
  text-decoration: underline;
}

input {
  background-color: var(--input1);
  color: var(--searchIcon);
}
